# Hidden folders #
##################
.ipynb_checkpoints
.mypy_cache
.vscode

# cache #
##################
__pycache__

# other #
#################
wandb
Data
halos
init.sh
sandbox
BoneSuperResolution
experiments
Figures
batch_jobs
Results
Registration_experiment
